<h1>New Article</h1>

<%= form_for :article do |f|%>
  <p>
    Title<br/>
    <%= f.text_field :title%>
  </p>

  <p>
    Text<br/>
    <%= f.text_field :text%>
  </p>
  
  <p>
    <button type="button" class="btn btn-success">Success</button>
  </p>
<% end %>  
